// MY THEME COLORS
$primary-color:#2067A5;
$headlinetext-color:#232526;

$text-color:#5F6467;
$text-color-two:#F6F6F6;

$blue-300:#1E6AAB;
$blue-400:#2067A5;
$blue-500:#536573;
$blue-700:#112230;



$black-400:#323537;


$white:#ffffff;
$white-100:#F7F7F7;
$white-200:#F4F4F4;

$primary-font: 'Poppins', sans-serif;
$primary: $primary-color;
$secondary:$headlinetext-color;

$box-shadow: -1px 1px 15px 0px rgba(10, 10, 10, 0.24);
$box-shadow-100: 1px 1px 22px -3px rgba(0, 0, 0, 0.13);
$box-shadow-200: 0px 3px 15px rgba(0, 0, 0, 0.05);
